<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쉼터로</title>
    <!-- 카카오 지도 API를 불러오는 스크립트 -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=9df70d710c18198fb4886dcf36d7f3c5"></script>
    <link rel="stylesheet" th:href="@{/common/css/home.css}" />
</head>
<body>
    <div th:replace="common/header :: header"></div>
    <div class="main-container">
        <img src="/images/shimturo_text_logo.png" alt="쉼터로 로고" id="shimturoLogo"/>
        <h3>내 주변 쉼터와 명소를 확인하세요</h3>
        <!-- 팝업 배경 -->
        <div id="popup-overlay" class="popup-overlay"></div>
        <!-- 팝업 메시지 -->
        <div id="popup-message" class="popup">
            <p>위치 권한을 허용하지 않으면 쉼터로의 일부 기능을 사용할 수 없습니다.</p>
            <p><span style="color: red; font-weight: bold; font-size: large">위치 권한을 허용</span>해주세요</p>
        </div>
        <div class="map-container">
            <div id="map"></div>
            <div id="legend">
                <div><img src="/images/marker_skyblue.png" class="marker" alt="skyblue marker">쉼터</div>
                <div><img src="/images/marker_red.png" class="marker" alt="red marker">명소</div>
            </div>
            <div id="target">
                <button id="target-button">
                    <img src="/images/target.png" alt="내 위치로 이동" />
                </button>
            </div>
        </div>

        <div id="button-container">
        </div>
    </div>

    <div th:replace="common/footer :: footer"></div>

</body>
<script th:inline="javascript">
    const places = /*[[${places}]]*/ [];
    const shelters = /*[[${shelters}]]*/ [];

    document.addEventListener("DOMContentLoaded", function() {
        const popup = document.getElementById("popup-message");
        const overlay = document.getElementById("popup-overlay");
        const target = document.getElementById("target-button");

        // 위치정보가 존재할 경우
        if(latitude && longitude) {
            initMap(latitude, longitude);
        } else if ("geolocation" in navigator) { // 위치정보가 없을 경우
            getLocation()
                .then(()=>location.reload())
                .catch((error)=> {
                    initMap(37.566, 126.978);
                    console.warn("위치 정보를 가져오지 못했습니다.", error);
                });
        } else { // 위치정보가 없고 geolocation api 가 없을 경우
            initMap(37.566, 126.978);
        }
        initButton();

        target.addEventListener("click", () => {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;

                    // 쿠키 갱신
                    setCookie("latitude", lat, 1); // 1일 동안 유지
                    setCookie("longitude", lon, 1);

                    // 위치 쿠키가 갱신되었으므로 리로드
                    location.reload();
                },
                () => {
                    // 팝업 표시
                    popup.style.display = "block";
                    overlay.style.display = "block";

                    // 1초 후 팝업 자동 닫기
                    setTimeout(() => {
                        popup.style.display = "none";
                        overlay.style.display = "none";
                    }, 2000);
                }
            );
        });

    });

    function initMap(lat, lon) {
        // 지도 생성
        const mapContainer = document.getElementById('map');
        const mapOption = {
            center: new kakao.maps.LatLng(lat, lon),
            level: 5
        };
        const map = new kakao.maps.Map(mapContainer, mapOption);

        const markerImages = {
            places: new kakao.maps.MarkerImage('/images/marker_red.png', new kakao.maps.Size(28, 32)),
            shelters: new kakao.maps.MarkerImage('/images/marker_skyblue.png', new kakao.maps.Size(25, 30))
        };

        function addMarkers(data, markerType) {
            if (Array.isArray(data) && data.length > 0) {
                data.forEach(item => {
                    const name = `${item.name || item.shelterName}`;
                    const position = new kakao.maps.LatLng(item.latitude, item.longitude);
                    const marker = new kakao.maps.Marker({
                        position: position,
                        map: map,
                        image: markerImages[markerType]
                    });

                    const encodedName = encodeURIComponent(item.name || item.shelterName); // 주소 인코딩
                    const url = `https://map.kakao.com/link/to/${encodedName},${item.latitude},${item.longitude}`; // 카카오 길찾기 URL
                    const infoWindow = new kakao.maps.InfoWindow({
                        content: `<div class="marker-container">
                                    <span class="marker-name">${name}</span>
                                    <a class="kakao-link" href="${url}" target="_blank">
                                        <span>길찾기</span>
                                    </a>
                                </div>`,
                        disableAutoPan: false // 마커 클릭 시 자동으로 중앙으로 이동
                    });

                    let isOpen = false;
                    // 마커 클릭 이벤트 추가
                    kakao.maps.event.addListener(marker, 'click', function () {
                        if(isOpen) {
                            infoWindow.close();
                        } else {
                            infoWindow.open(map, marker);
                        }
                        isOpen = !isOpen;
                    });

                    // 마커 외부 클릭 시 InfoWindow 닫기
                    kakao.maps.event.addListener(map, 'click', function () {
                        infoWindow.close(); // InfoWindow 닫기
                    });
                });
            } else {
                console.log('데이터가 없습니다.');
            }
        }

        // 마커 생성
        addMarkers(places, 'places');
        addMarkers(shelters, 'shelters');
    }

    function initButton() {
        // 무더위 쉼터
        const sheltersButton = document.createElement('button');
        sheltersButton.textContent = '전국 쉼터 찾기';
        sheltersButton.onclick = function() {
            window.location.href = '/common/shelters'; // 원하는 범위 설정
        };
        document.getElementById('button-container').appendChild(sheltersButton);
    }

</script>
</html>