<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/common/js/join.js}"></script>
    <link rel="stylesheet" th:href="@{/common/css/login.css}" />
    <link rel="stylesheet" th:href="@{/common/css/join.css}" />
</head>
<body>
    <div th:replace="common/header :: header"></div>

    <div class="main-container">

        <h1>회원 가입</h1>

        <div class="divider">
            <hr />
<!--            <span class="divider-text">필수항목</span>-->
        </div>

        <!-- 플래시 메시지 표시 -->
        <div th:if="${errors}">
            <ul style="list-style: none; color:red;">
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>

        <div th:if="${error}">
            <span th:text="${error}" style="color:red;"></span>
        </div>

        <form id="signupForm" th:action="@{/common/join}" th:object="${userRequest}" method="post">
            <div class="label-container">
                <label for="id">
                    <span class="label-name">아이디</span>
                    <span class="label-required-mark">*</span>
                </label>
            </div>
            <input type="text" id="id" th:field="*{id}" placeholder="아이디" required />


            <div class="label-container">
                <label for="password">
                    <span class="label-name">비밀번호</span>
                    <span class="label-required-mark">*</span>
                </label>
            </div>
            <input type="password"
                   id="password"
                   th:field="*{password}"
                   placeholder="비밀번호"
                   required />

            <div class="label-container">
                <label for="confirmPassword">
                    <span class="label-name">비밀번호 확인</span>
                    <span class="label-required-mark">*</span>
                    <span id="passwordMessage"></span>
                </label>
            </div>
            <input type="password"
                   id="confirmPassword"
                   placeholder="비밀번호 확인"
                   required />

            <div class="label-container">
                <label for="date">
                    <span class="label-name">생년월일</span>
                    <span class="label-required-mark">*</span>
                </label>
            </div>
            <input type="text"
                   id="date"
                   pattern="^\d{8}$"
                   inputmode="numeric"
                   maxlength="8"
                   th:field="*{birthday}"
                   placeholder="ex) 19980319"
                   required/>
<!--            <input type="date" id="age" th:field="*{age}" required />-->

            <div class="label-container">
                <label for="phone_number">
                    <span class="label-name">핸드폰</span>
                    <span class="label-required-mark">*</span>
                </label>
            </div>
            <input type="text"
                   id="phone_number"
                   th:field="*{phone_number}"
                   pattern="^\d{3}-\d{3,4}-\d{4}$"
                   inputmode="numeric"
                   maxlength="13"
                   placeholder="ex) 010-1234-5678"
                   required/>

            <input type="hidden" id="postcode" placeholder="우편번호" readonly />

            <div class="label-container">
                <label for="address">
                    <span class="label-name">주소</span>
                </label>
            </div>
            <div class="address-button">
                <input type="button" onclick="daumPostcode()" value="우편번호 찾기">
                <input type="text" id="address" th:field="*{address}" placeholder="주소" readonly />
            </div>
            <input type="text" id="detailAddress" th:field="*{detailAddress}" placeholder="상세주소" />

            <div class="label-container">
                <label for="id">
                    <span class="label-name">선호하는 쉼터 유형을 선택해주세요</span>
                </label>
            </div>
            <div class="category-container">
                <label class="category-button" th:for="'CLEAN'" onclick="toggleSelection('CLEAN')">
                    <input type="checkbox" th:field="*{preferences}" value="CLEAN" class="hidden" th:id="'CLEAN'" /> 청결해요
                </label>
                <label class="category-button" th:for="'COOL'" onclick="toggleSelection('COOL')">
                    <input type="checkbox" th:field="*{preferences}" value="COOL" class="hidden" th:id="'COOL'" /> 시원해요
                </label>
                <label class="category-button" th:for="'KIND'" onclick="toggleSelection('KIND')">
                    <input type="checkbox" th:field="*{preferences}" value="KIND" class="hidden" th:id="'KIND'" /> 친절해요
                </label>
                <label class="category-button" th:for="'FUN'" onclick="toggleSelection('FUN')">
                    <input type="checkbox" th:field="*{preferences}" value="FUN" class="hidden" th:id="'FUN'" /> 즐길거리가 있어요
                </label>
                <label class="category-button" th:for="'CROWDED'" onclick="toggleSelection('CROWDED')">
                    <input type="checkbox" th:field="*{preferences}" value="CROWDED" class="hidden" th:id="'CROWDED'" /> 사람이 많아요
                </label>
                <label class="category-button" th:for="'RELAXING'" onclick="toggleSelection('RELAXING')">
                    <input type="checkbox" th:field="*{preferences}" value="RELAXING" class="hidden" th:id="'RELAXING'" /> 쉬기 좋아요
                </label>
                <label class="category-button" th:for="'QUIET'" onclick="toggleSelection('QUIET')">
                    <input type="checkbox" th:field="*{preferences}" value="QUIET" class="hidden" th:id="'QUIET'" /> 조용해요
                </label>
                <label class="category-button" th:for="'PARKING_AVAILABLE'" onclick="toggleSelection('PARKING_AVAILABLE')">
                    <input type="checkbox" th:field="*{preferences}" value="PARKING_AVAILABLE" class="hidden" th:id="'PARKING_AVAILABLE'" /> 주차가 가능해요
                </label>
                <label class="category-button" th:for="'NIGHT_OPEN'" onclick="toggleSelection('NIGHT_OPEN')">
                    <input type="checkbox" th:field="*{preferences}" value="NIGHT_OPEN" class="hidden" th:id="'NIGHT_OPEN'" /> 야간개방
                </label>
                <label class="category-button" th:for="'HOLIDAY_OPEN'" onclick="toggleSelection('HOLIDAY_OPEN')">
                    <input type="checkbox" th:field="*{preferences}" value="HOLIDAY_OPEN" class="hidden" th:id="'HOLIDAY_OPEN'" /> 휴일개방
                </label>
                <label class="category-button" th:for="'ACCOMMODATION_AVAILABLE'" onclick="toggleSelection('ACCOMMODATION_AVAILABLE')">
                    <input type="checkbox" th:field="*{preferences}" value="ACCOMMODATION_AVAILABLE" class="hidden" th:id="'ACCOMMODATION_AVAILABLE'" /> 숙박가능
                </label>
            </div>


            <div>
                <h3>이용약관</h3>
                <div class="terms-container" th:utext="${terms}"></div>
            </div>

            <div>
                <input id="agree" type="checkbox" th:field="*{accepted}" required /> 약관 동의
            </div>

            <button type="submit">가입하기</button>
        </form>
    </div>

    <div th:replace="common/footer :: footer"></div>
</body>
</html>







