<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <script>
        function deleteMe() {
            if (confirm('정말로 계정을 삭제하시겠습니까?')) {
                fetch('/mypage/me', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.redirected) {
                        window.location.href = response.url; // 리디렉션 URL로 이동
                    } else {
                        alert('계정 삭제에 실패했습니다.');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</head>
<body>
<header>
    <h1>내 정보</h1>
</header>

<main>
    <h2>사용자 정보</h2>
    <form th:action="@{/mypage/me}" method="post">

        <label for="id">아이디:</label>
        <input type="text" id="id" name="username" th:value="${user.id}" readonly><br><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="address">주소:</label>
        <input type="text" id="address" name="address" th:value="${user.address}" required><br><br>


        <label for="age">생년월일:</label>
        <input type="date" id="age" name="age" th:value="${user.birthDate}" required>
        (만 <span th:text="${user.age}">나이</span>세)<br><br>

        <label for="phone_number">전화번호:</label>
        <input type="text" id="phone_number" name="phone_number" th:value="${user.phone_number}" required><br><br>

        <button type="submit">정보 수정</button>
    </form>
    <button onclick="deleteMe()">회원 탈퇴</button>
</main>


<footer>
    <p>&copy; 2024 나의 웹사이트</p>
</footer>
</body>
</html>
