<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="main-container">

<main>
    <h2>사용자 정보</h2>
    <div th:replace="common/mypage_nav :: nav"></div>

    <form th:action="@{/common/mypage/me}" method="post">

        <label for="id">아이디:</label>
        <input type="text" id="id" name="username" th:value="${user.id}" readonly><br><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="address">주소:</label>
        <input type="text" id="address" name="address" th:value="${user.address}" required><br><br>


        <label for="age">생년월일:</label>
        <input type="date" id="age" name="age" th:value="${user.birthDate}" required>
        (만 <span th:text="${user.age}">나이</span>세)<br><br>

        <label for="phone_number">전화번호:</label>
        <input type="text" id="phone_number" name="phone_number" th:value="${user.phone_number}" required><br><br>

        <button type="submit">정보 수정</button>
    </form>
    <form action="/admin/mypage/delete" method="post" onsubmit="return confirm('탈퇴 후 계정을 복구할 수 없습니다. 정말 탈퇴하시겠습니까?');">
        <input type="hidden" name="companyUserId" th:value="${user.userId}"/>
        <button type="submit">회원 탈퇴</button>
    </form>
</main>
<div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>

