<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/common/js/join.js}"></script>
    <link rel="stylesheet" th:href="@{/common/css/mypage.css}" />
    <link rel="stylesheet" th:href="@{/common/css/myinfo.css}" />
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="main-container">

<main>
    <h2>사용자 정보</h2>
    <div th:replace="common/mypage_nav"></div>

    <form id="updateForm" th:action="@{/common/mypage/me}" method="post">
        <input type="hidden" name="id" th:value="user.id">

        <div class="label-container">
            <label for="oldPassword">
                <span class="label-name">기존 비밀번호</span>
                <span class="label-required-mark">*</span>
            </label>
        </div>
        <input type="password"
               id="oldPassword"
               name="oldPassword"
               placeholder="기존 비밀번호"
               required />

        <div class="label-container">
            <label for="newPassword">
                <span class="label-name">새 비밀번호</span>
                <span id="passwordMessage"></span>
            </label>
        </div>
        <input type="password"
               id="newPassword"
               name="newPassword"
               placeholder="새 비밀번호"
        />

        <div class="label-container">
            <label for="birthDate">
                <span class="label-name">생년월일</span>
            </label>
        </div>
        <input type="text"
               id="birthDate"
               name="birthDate"
               pattern="^\d{8}$"
               inputmode="numeric"
               maxlength="8"
               placeholder="ex) 19980319"
               th:value="${user.birthDate}"
               required/>

        <div class="label-container">
            <label for="phone_number">
                <span class="label-name">핸드폰</span>
            </label>
        </div>

        <input type="text"
               id="phone_number"
               name="phone_number"
               pattern="^\d{3}-\d{3,4}-\d{4}$"
               inputmode="numeric"
               maxlength="13"
               placeholder="ex) 010-1234-5678"
               oninput="formatPhoneNumber(this)"
               th:value="${user.phone_number}"
        />

        <input type="hidden" id="postcode" placeholder="우편번호" readonly />

        <div class="label-container">
            <label for="address">
                <span class="label-name">주소</span>
            </label>
        </div>
        <input type="text"
               id="address"
               name="address"
               placeholder="주소"
               th:value="${user.address}"
               readonly />
        <div class="address-button">
            <input type="text"
                   id="detailAddress"
                   name="detailAddress"
                   placeholder="상세주소"
                   th:value="${user.detailAddress}"
                   />
            <input type="button" onclick="daumPostcode()" value="우편번호 찾기">
        </div>

        <button type="submit">수정하기</button>
    </form>

    <form th:action="@{/common/mypage/me/delete}" method="post" onsubmit="return confirm('탈퇴 후 계정을 복구할 수 없습니다. 정말 탈퇴하시겠습니까?');">
        <input type="hidden" name="userId" th:value="${user.userId}"/>
        <button type="submit">회원 탈퇴</button>
    </form>

    <div th:if="${error}">
        <span th:text="${error}" style="color:red;"></span>
    </div>
    <div th:if="${message}">
        <span th:text="${message}" style="color:green;"></span>
    </div>
</main>
</div>
<div th:replace="common/footer :: footer"></div>
</body>
</html>

