<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/common/css/mypage.css}" />
    <script th:src="@{/common/js/mypage.js}"></script>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="main-container">

    <main>
        <h2>이용한 쉼터 내역</h2>
        <div th:replace="common/mypage_nav"></div>

        <div class="mypage-container">
            <ul>
                <li>
                    <span class="flex2 bold">쉼터명</span>
                    <span class="flex2 bold">방문날짜</span>
                    <span class="flex1 bold">리뷰작성</span>
                </li>
                <li th:if="${shelters == null}">방문 내역이 없습니다.</li>
                <li th:each="visitedShelter : ${shelters}">
                    <span class="flex2" th:text="${visitedShelter.shelter.shelterName}"></span>
                    <span class="flex2" th:text="${visitedShelter.date}"></span>
                    <span class="flex1">
                        <span th:if="${visitedShelter.reviewed}">작성완료</span>
                        <button th:if="${!visitedShelter.reviewed}"
                                th:onclick="'openModal(' + ${visitedShelter.shelter.shelterId} + ', ' + ${visitedShelter.visitedShelterId} + ')'">
                            리뷰작성</button>
                    </span>
<!--                    <a href="#" class="disabled-button" onclick="showModal2()">쉼터로그</a>-->
<!--                    <a href="#" class="disabled-button" onclick="showModal2()">민원작성</a>-->
                </li>
                <li class="none-list" th:if="${#lists.isEmpty(shelters)}">
                    방문 내역이 없습니다.
                </li>
            </ul>
        </div>


        <!-- 모달 HTML 수정 -->
        <div id="reviewModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3>리뷰 작성</h3>
                <form id="reviewForm" th:action="@{/common/mypage/shelter/review}" method="post" th:object="${reviewDto}">
                    <input type="hidden" id="modal_visitedShelterId" th:field="*{visitedShelterId}" />
                    <input type="hidden" id="modal_shelterId" th:field="*{shelterId}" />
                    <div class="star-rating">
                        <div class="star-value"></div>
                        <input type="radio" th:field="*{rating}" value="0.5"/><i></i>
                        <input type="radio" th:field="*{rating}" value="1"><i></i>
                        <input type="radio" th:field="*{rating}" value="1.5"><i></i>
                        <input type="radio" th:field="*{rating}" value="2"><i></i>
                        <input type="radio" th:field="*{rating}" value="2.5"><i></i>
                        <input type="radio" th:field="*{rating}" value="3"><i></i>
                        <input type="radio" th:field="*{rating}" value="3.5"><i></i>
                        <input type="radio" th:field="*{rating}" value="4"><i></i>
                        <input type="radio" th:field="*{rating}" value="4.5"><i></i>
                        <input type="radio" th:field="*{rating}" value="5"><i></i>
                    </div>
                    <p>선택한 별점: <span id="selected-rating">0</span></p>

                    <div class="category-list">
                        <div class="category-item">
    <!--                        <input type="checkbox" id="CLEAN" name="categories" value="CLEAN">-->
                            <input type="checkbox" id="CLEAN" th:field="*{categories}" value="CLEAN">
                            <label for="CLEAN">청결해요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="COOL" th:field="*{categories}" value="COOL">
                            <label for="COOL">시원해요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="KIND" th:field="*{categories}" value="KIND">
                            <label for="KIND">친절해요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="FUN" th:field="*{categories}" value="FUN">
                            <label for="FUN">즐길거리가 있어요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="CROWDED" th:field="*{categories}" value="CROWDED">
                            <label for="CROWDED">사람이 많아요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="RELAXING" th:field="*{categories}" value="RELAXING">
                            <label for="RELAXING">쉬기 좋아요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="QUIET" th:field="*{categories}" value="QUIET">
                            <label for="QUIET">조용해요</label>
                        </div>
                        <div class="category-item">
                            <input type="checkbox" id="PARKING_AVAILABLE" th:field="*{categories}" value="PARKING_AVAILABLE">
                            <label for="PARKING_AVAILABLE">주차가 가능해요</label>
                        </div>
                    </div>

                    <div class="form-footer">
                        <button type="submit" class="white_button">제출</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <!-- 모달 구조 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal2()">&times;</span>
            <p>준비 중입니다. 조금만 기다려 주세요!</p>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>
</body>
</html>