<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/common/css/login.css}" />
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="main-container">
    <h1>비밀번호 찾기</h1>
    <form th:action="@{/common/password}" method="post">
        <p>가입시 등록한 이메일로 임시 비밀번호 발송합니다.</p>
        <input type="text" id="id" name="id" placeholder="아이디" required >
        <input type="email" id="email" name="email" placeholder="이메일" required >

        <button type="submit">임시 비밀번호 발급</button>

        <div class="error">
            <p th:if="${message}" th:text="${message}"></p>
        </div>
    </form>
</div>
<div th:replace="common/footer :: footer"></div>

</body>
</html>

