<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 리뷰</title>
    <link rel="stylesheet" th:href="@{/common/css/mypage.css}" />
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="main-container">

    <main>
        <h2>나의 리뷰 목록</h2>
        <div th:replace="common/mypage_nav"></div>

        <div class="mypage-container">
            <ul>
                <li>
                    <span class="flex1 bold">쉼터명</span>
                    <span class="flex1 bold">별점</span>
                    <span class="flex1 bold">리뷰</span>
                    <span class="flex1 bold">작성날짜</span>
                </li>
                <li th:each="review : ${reviews}">
                    <div class="flex1" th:text="${review.shelterName}"></div>
                    <div class="flex1" th:text="${review.rating}"></div>
                    <div class="flex1">
                        <span class="reviewed-category"
                              th:each="category : ${review.categories}"
                              th:text="${category.description}">
                        </span>
                    </div>
                    <div class="flex1" th:text="${review.createdAt}"></div>
                </li>
            </ul>
        </div>

    </main>

</div>
<div th:replace="common/footer :: footer"></div>
</body>
</html>