<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 리뷰</title>
    <!-- 카카오 지도 API를 불러오는 스크립트 -->
    <link rel="stylesheet" th:href="@{/common/css/shelter_details.css}" />
    <style>
        #map {
            width: 100%;
            height: 350px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <main>
        <div class="details">
            <h1 th:text="${shelter.shelterName}">쉼터이름</h1>
<!--            <span th:text="${shelter.categoryStats}">카테고리 통계</span>-->
            <div id="map"></div>

            <table>
                <colgroup>
                    <col class="col-first">
                    <col> <!-- 기본 너비를 가진 두 번째 열 -->
                </colgroup>
                <tr>
                    <th class="list-title">도로명주소</th>
                    <td>
                        <span th:text="${shelter.address}"></span>
                        <a th:href="@{'https://map.kakao.com/link/to/'
                           + ${shelter.shelterName} + ','
                           + ${shelter.latitude} + ','
                           + ${shelter.longitude}}"
                           target="_blank"
                           class="kakao-link">
                            <span>길찾기</span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <th class="list-title">최대 수용인원</th>
                    <td th:text="${shelter.capacity}"></td>
                </tr>
                <tr>
                    <th class="list-title">선풍기</th>
                    <td th:text="${shelter.fanCount}+대"></td>
                </tr>
                <tr>
                    <th class="list-title">에어컨</th>
                    <td th:text="${shelter.airConditionerCount}+대"></td>
                </tr>
                <tr>
                    <th class="list-title">평점(평균)</th>
                    <td th:if="${ratingAvg}" th:text="${ratingAvg}+점"></td>
                    <td th:unless="${ratingAvg}">아직 리뷰가 없습니다.</td>
                </tr>
            </table>

            <div class="review-container">
                <ul class="review-list" id="reviewList">
                    <li class="review" th:each="category : ${categoryCounts}">
                        <span class="description" th:text="${category.shelterPreference.description}"></span>
                        <span class="count" th:text="${category.count}"></span>
                    </li>
                </ul>
            </div>

        </div>

    </main>
</body>
</html>