<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이 페이지</title>
    <style>
        .spinner {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }
    </style>
    <script>
        function showSpinner() {
            document.getElementById('spinner').style.display = 'block'; // 스피너 표시
        }
    </script>
</head>
<body>
<div th:replace="admin/header :: header"></div>
<div class="main-container">
    <h1>유저 정보</h1>

    <div class="account-container">
        <div th:if="${message}" th:text="${message}" style="color: red;"></div>

        <div th:if="${companyUser != null}">
            <strong>계정</strong> <span th:text="${companyUser.companyEmail}"></span>
            <strong>소속</strong> <span th:text="${companyUser.companyName}"></span>
        </div>

        <div th:if="${companyUser == null}">
            <p>No user found.</p>
        </div>

        <form action="/admin/update-password" method="post">
            <input type="hidden" name="companyUserId" th:value="${companyUser.companyUserId}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" id="currentPassword" name="currentPassword" required/><br/>

            <label for="newPassword">새 비밀번호</label>
            <input type="password" id="newPassword" name="newPassword" required/><br/>

            <button type="submit">비밀번호 변경하기</button>
        </form>

        <form action="/admin/mypage/delete" method="post" onsubmit="return confirm('탈퇴 후 계정을 복구할 수 없습니다. 정말 탈퇴하시겠습니까?');">
            <input type="hidden" name="companyUserId" th:value="${companyUser.companyUserId}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">탈퇴하기</button>
        </form>

        <form th:action="@{/admin/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">로그아웃</button>
        </form>
    </div>

    <!-- csv-upload -->
    <div class="csv-container">
        <form th:action="@{/admin/csv-upload}" method="post" enctype="multipart/form-data" onsubmit="showSpinner()">
            <select name="fileType">
                <option value="shelter">쉼터 데이터</option>
                <option value="place">장소 데이터</option>
            </select>
            <input type="file" name="csvFiles" multiple accept=".csv">
            <button type="submit">업로드</button>
        </form>

        <div class="spinner" id="spinner">
            <img src="/images/loading.gif" alt="loading-img">
        </div>

        <div th:if="${successMessage}">
            <p th:text="${successMessage}" style="color: green;"></p>
        </div>
        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}" style="color: red;"></p>
        </div>
    </div>
</div>
</body>
</html>
