<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>csv-upload</title>
    <style>
        .spinner {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }
    </style>
</head>
<body>
<div th:replace="admin/header :: header"></div>
<div class="main-container">
    <form th:action="@{/admin/csv-upload}" method="post" enctype="multipart/form-data" onsubmit="showSpinner()">
        <select name="fileType">
            <option value="shelter">쉼터 데이터</option>
            <option value="place">장소 데이터</option>
        </select>
        <input type="file" name="csvFiles" multiple accept=".csv">
        <button type="submit">업로드</button>
    </form>

    <div class="spinner" id="spinner">
        <img src="/images/loading.gif" alt="loading-img">
    </div>

    <div th:if="${successMessage}">
        <p th:text="${successMessage}" style="color: green;"></p>
    </div>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>
</div>

<script>
    function showSpinner() {
        document.getElementById('spinner').style.display = 'block'; // 스피너 표시
    }
</script>
</body>
</html>