<meta charset="UTF-8">
<header>
  <div class="logo">
    <img src="path/to/your/logo.png" alt="로고" />
  </div>
  <nav>
    <ul style="display: flex; list-style: none; padding: 0;">
      <li style="margin-right: 20px;"><a th:href="@{/common/home}">홈</a></li>
      <li style="margin-right: 20px;"><a th:href="@{/admin/shelters}">쉼터위치추천</a></li>
      <li style="margin-right: 20px;"><a th:href="@{/common/logout}">로그아웃</a></li>
      <li><a th:href="@{/common/mypage}">마이페이지</a></li>
    </ul>
  </nav>
</header>


<script>


</script>