<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head>
    <title>회원 가입</title>
</head>
<body>
<h1>회원 가입</h1>
<form action="#" th:action="@{/api/join}" th:object="${userRequest}" method="post">
    <label for="id">아이디:</label>
    <input type="text" id="id" th:field="*{id}" required /><br/>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" th:field="*{password}" required /><br/>

    <label for="age">나이:</label>
    <input type="date" id="age" th:field="*{age}" required /><br/>

    <label for="address">주소:</label>
    <input type="text" id="address" th:field="*{address}" required /><br/>

    <label for="phone_number">전화번호:</label>
    <input type="text" id="phone_number" th:field="*{phone_number}" placeholder="010-1234-5678" required /><br/>

    <label>
        <input type="checkbox" th:field="*{accepted}" /> 약관 동의
    </label><br/>

    <button type="submit">가입하기</button>
</form>
</body>
</html>
